body {
    font-family: Arial;
    text-align: center;
}

input {
    width: 200px;
    height: 40px;
    font-size: 20px;
    margin-bottom: 10px;
}

button {
    width: 45px;
    height: 45px;
    font-size: 18px;
    margin: 5px;
}
